.home {
    display: flex;
    align-items:flex-start;
    margin: 0px;

}
h3{
  padding:  100px;
  font-family: wfont_e7949c_a74f873dcc86410db98316fe5e7ca66c,wf_a74f873dcc86410db98316fe5,orig_visia_pro_regular;
  font-size: 18px;

 color: #7A6758;
}

.para1{

  text-align: center;
  text-align-last: center;
  padding:  100px;

  font-family: wfont_e7949c_a74f873dcc86410db98316fe5e7ca66c,wf_a74f873dcc86410db98316fe5,orig_visia_pro_regular;
  font-size: 18px;
  line-height: 1.8;
}
#orgabout{
  line-height: 0.7;

}
body {
  background:white url('body-bg.jpg');
}

.clearfix:after {
  display:block;
  clear:both;
}

/*----- Menu Outline -----*/
.menu-wrap {
  width:100%;
  box-shadow:0px 1px 3px rgba(0,0,0,0.2);
  background:#7E718A;
  font-family: wfont_e7949c_a74f873dcc86410db98316fe5e7ca66c,wf_a74f873dcc86410db98316fe5,orig_visia_pro_regular;

}

.menu {
  width:1000px;
  margin:0px auto;
}



.menu a {
  transition:all linear 0.15s;
  color:white;
}

.menu li:hover > a, .menu .current-item > a {
  text-decoration:none;
  color:white;
}

.menu .arrow {
  font-size:11px;
  line-height:0%;
}

/*----- Top Level -----*/
.menu > ul > li {
  float:left;
  display:inline-block;
  position:relative;
  font-size:19px;
}

.menu > ul > li > a {
  padding:10px 40px;
  display:inline-block;
  text-shadow:black;
}

.menu > ul > li:hover > a, .menu > ul > .current-item > a {
  background:##1F293E;
}

/*----- Bottom Level -----*/
.menu li:hover .sub-menu {
  z-index:1;
  opacity:1;
}

.sub-menu {
  width:160%;
  padding:5px 0px;
  position:absolute;
  top:100%;
  left:0px;
  z-index:-1;
  opacity:0;
  transition:opacity linear 0.15s;
  box-shadow:0px 2px 3px rgba(0,0,0,0.2);
  background:#2e2728;
}

.sub-menu li {
  display:block;
  font-size:16px;
}

.sub-menu li a {
  padding:10px 30px;
  display:block;
}
#hope{
 align-items: center;

}
