#Mission{
  font-family: wfont_e7949c_a74f873dcc86410db98316fe5e7ca66c,wf_a74f873dcc86410db98316fe5,orig_visia_pro_regular;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
#Vission{
  font-family: wfont_e7949c_a74f873dcc86410db98316fe5e7ca66c,wf_a74f873dcc86410db98316fe5,orig_visia_pro_regular;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.knowus{
  font-family: wfont_e7949c_a74f873dcc86410db98316fe5e7ca66c,wf_a74f873dcc86410db98316fe5,orig_visia_pro_regular;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  font-size: 16px;
  text-align: center;


}
